body {
  margin: 0;
  font-family: 'Segoe UI', 'Roboto', sans-serif;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.6;
  box-sizing: border-box;
  background-color: #EEEEEE;
}

.container {
  width: 90%;
  max-width: 980px;
  margin: 0 auto;
  padding: 2rem 0;
  text-align: center;
  min-height: 100vh;
}

.button {
  display: inline-block;
  font-size: 1.25rem;
  font-weight: 700;
  background-color: #3BACB6;
  padding: 0.4em 1em;
  text-decoration: none;
  border-radius: 5px;
  margin: 5px;
}

.button:hover {
  background-color: #2F8F9D;
  cursor: pointer;
}

.list {
  display: flex;
  flex-wrap: wrap;
  border: 2px solid black;
  min-height: 30px;
  padding: 0;
}

.list-item {
  list-style: none;
  margin-left: 5px;
  padding: 0 5px;
}

.list-item.editable:hover {
  cursor: pointer;
  background-color: #ff4243;
}

input {
  border: 2px solid black;
  display: inline-block;
  font-size: inherit;
  background-color: inherit;
  margin: 10px;
  padding: 0.2em;
}

@media screen and (min-width: 550px) {
  body {
    font-size: 1.5rem;
  }
}